
  .left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    background-color:#86fde8;
  }
  .map{
    align-items: right;
    width: 100vw;
  }
  .right{
    height:100vh;
    width: 50vw;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 10%;
  }
